/* ci assicuriamo di avere il controllo delle misure */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container-fluid{
    width: 100%;
    max-width: 100%;
}

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* #ROW */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* #COL */
 /* tutte le classi che cominciano con col*/
 [class^='col']{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* colonne che si dividono lo spazio equamente */
.col{
    flex-grow: 1;
}

/* colonne che occupano i 12esimi specificati */
.col-1{
    flex-basis: calc(100% / 12);
    max-height: calc(100% / 12);
}

.col-2{
    flex-basis: calc(100% / 12 * 2);
    max-height: calc(100% / 12 * 2);
}

.col-3{
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.col-5{
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.col-6{
    flex-basis: 50%;
    max-width: 50%;
}

.col-7{
    flex-basis: calc(100% / 12 * 7);
    max-height: calc(100% / 12 * 7);
}

.col-8{
    flex-basis: calc(100% / 12 * 8);
    max-height: calc(100% / 12 * 8);
}

.col-9{
    flex-basis: calc(100% / 12 * 9);
    max-height: calc(100% / 12 * 9);
}

.col-10{
    flex-basis: calc(100% / 12 * 10);
    max-height: calc(100% / 12 * 10);
}

.col-11{
    flex-basis: calc(100% / 12 * 11);
    max-height: calc(100% / 12 * 11);
}

.col-12{
    flex-basis: 100%;
    max-width: 100%;
}

/* OFFSET */
.offset-0{
    margin-left: 0;
}
.offset-1{
    margin-left: calc(100% / 12);
}

.offset-2{
    margin-left: calc(100% / 12 * 2);
}

.offset-3{
    margin-left: calc(100% / 12 * 3);
}

.offset-4{
    margin-left: calc(100% / 12 * 4);
}

.offset-5{
    margin-left: calc(100% / 12 * 5);
}

.offset-6{
    margin-left: calc(100% / 12 * 6);
}

.offset-7{
    margin-left: calc(100% / 12 * 7);
}

.offset-8{
    margin-left: calc(100% / 12 * 8);
}

.offset-9{
    margin-left: calc(100% / 12 * 9);
}

.offset-10{
    margin-left: calc(100% / 12 * 10);
}

.offset-11{
    margin-left: calc(100% / 12 * 11);
}

/* UTILITIES PER ALLINEAMENTO */
.content-start{
    justify-content: start;
    text-align: start;
}

.content-center{
    justify-content: center;
    text-align: center;
}

.content-end{
    justify-content:flex-end;
    text-align: end;
}

/* se non mettimao niente prende STRETCH */
.align-start{
    align-items: flex-start;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}



/* MEDIA QUERY */
/* small */
@media screen and (min-width: 576px){
    .col-sm-1{
        flex-basis: calc(100% / 12);
        max-height: calc(100% / 12);
    }
    
    .col-sm-2{
        flex-basis: calc(100% / 12 * 2);
        max-height: calc(100% / 12 * 2);
    }
    
    .col-sm-3{
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .col-sm-4{
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .col-sm-5{
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .col-sm-6{
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .col-sm-7{
        flex-basis: calc(100% / 12 * 7);
        max-height: calc(100% / 12 * 7);
    }
    
    .col-sm-8{
        flex-basis: calc(100% / 12 * 8);
        max-height: calc(100% / 12 * 8);
    }
    
    .col-sm-9{
        flex-basis: calc(100% / 12 * 9);
        max-height: calc(100% / 12 * 9);
    }
    
    .col-sm-10{
        flex-basis: calc(100% / 12 * 10);
        max-height: calc(100% / 12 * 10);
    }
    
    .col-sm-11{
        flex-basis: calc(100% / 12 * 11);
        max-height: calc(100% / 12 * 11);
    }
    
    .col-sm-12{
        flex-basis: 100%;
        max-width: 100%;
    }

    /* offset */
    .offset-sm-0{
        margin-left: 0;
    }
    .offset-sm-1{
        margin-left: calc(100% / 12);
    }
    
    .offset-sm-2{
        margin-left: calc(100% / 12 * 2);
    }
    
    .offset-sm-3{
        margin-left: calc(100% / 12 * 3);
    }
    
    .offset-sm-4{
        margin-left: calc(100% / 12 * 4);
    }
    
    .offset-sm-5{
        margin-left: calc(100% / 12 * 5);
    }
    
    .offset-sm-6{
        margin-left: calc(100% / 12 * 6);
    }
    
    .offset-sm-7{
        margin-left: calc(100% / 12 * 7);
    }
    
    .offset-sm-8{
        margin-left: calc(100% / 12 * 8);
    }
    
    .offset-sm-9{
        margin-left: calc(100% / 12 * 9);
    }
    
    .offset-sm-10{
        margin-left: calc(100% / 12 * 10);
    }
    
    .offset-sm-11{
        margin-left: calc(100% / 12 * 11);
    }
}
/* medium */
@media screen and (min-width: 768px){
    .col-md-1{
        flex-basis: calc(100% / 12);
        max-height: calc(100% / 12);
    }
    
    .col-md-2{
        flex-basis: calc(100% / 12 * 2);
        max-height: calc(100% / 12 * 2);
    }
    
    .col-md-3{
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .col-md-4{
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .col-md-5{
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .col-md-6{
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .col-md-7{
        flex-basis: calc(100% / 12 * 7);
        max-height: calc(100% / 12 * 7);
    }
    
    .col-md-8{
        flex-basis: calc(100% / 12 * 8);
        max-height: calc(100% / 12 * 8);
    }
    
    .col-md-9{
        flex-basis: calc(100% / 12 * 9);
        max-height: calc(100% / 12 * 9);
    }
    
    .col-md-10{
        flex-basis: calc(100% / 12 * 10);
        max-height: calc(100% / 12 * 10);
    }
    
    .col-md-11{
        flex-basis: calc(100% / 12 * 11);
        max-height: calc(100% / 12 * 11);
    }
    
    .col-md-12{
        flex-basis: 100%;
        max-width: 100%;
    }

    /* offset */
    .offset-md-0{
        margin-left: 0;
    }
    .offset-md-1{
        margin-left: calc(100% / 12);
    }
    
    .offset-md-2{
        margin-left: calc(100% / 12 * 2);
    }
    
    .offset-md-3{
        margin-left: calc(100% / 12 * 3);
    }
    
    .offset-md-4{
        margin-left: calc(100% / 12 * 4);
    }
    
    .offset-md-5{
        margin-left: calc(100% / 12 * 5);
    }
    
    .offset-md-6{
        margin-left: calc(100% / 12 * 6);
    }
    
    .offset-md-7{
        margin-left: calc(100% / 12 * 7);
    }
    
    .offset-md-8{
        margin-left: calc(100% / 12 * 8);
    }
    
    .offset-md-9{
        margin-left: calc(100% / 12 * 9);
    }
    
    .offset-md-10{
        margin-left: calc(100% / 12 * 10);
    }
    
    .offset-md-11{
        margin-left: calc(100% / 12 * 11);
    }
}
/* large */
@media screen and (min-width: 992px){
    .col-lg-1{
        flex-basis: calc(100% / 12);
        max-height: calc(100% / 12);
    }
    
    .col-lg-2{
        flex-basis: calc(100% / 12 * 2);
        max-height: calc(100% / 12 * 2);
    }
    
    .col-lg-3{
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .col-lg-4{
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .col-lg-5{
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .col-lg-6{
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .col-lg-7{
        flex-basis: calc(100% / 12 * 7);
        max-height: calc(100% / 12 * 7);
    }
    
    .col-lg-8{
        flex-basis: calc(100% / 12 * 8);
        max-height: calc(100% / 12 * 8);
    }
    
    .col-lg-9{
        flex-basis: calc(100% / 12 * 9);
        max-height: calc(100% / 12 * 9);
    }
    
    .col-lg-10{
        flex-basis: calc(100% / 12 * 10);
        max-height: calc(100% / 12 * 10);
    }
    
    .col-lg-11{
        flex-basis: calc(100% / 12 * 11);
        max-height: calc(100% / 12 * 11);
    }
    
    .col-lg-12{
        flex-basis: 100%;
        max-width: 100%;
    }

    /* offset */
    .offset-lg-0{
        margin-left: 0;
    }
    .offset-lg-1{
        margin-left: calc(100% / 12);
    }
    
    .offset-lg-2{
        margin-left: calc(100% / 12 * 2);
    }
    
    .offset-lg-3{
        margin-left: calc(100% / 12 * 3);
    }
    
    .offset-lg-4{
        margin-left: calc(100% / 12 * 4);
    }
    
    .offset-lg-5{
        margin-left: calc(100% / 12 * 5);
    }
    
    .offset-lg-6{
        margin-left: calc(100% / 12 * 6);
    }
    
    .offset-lg-7{
        margin-left: calc(100% / 12 * 7);
    }
    
    .offset-lg-8{
        margin-left: calc(100% / 12 * 8);
    }
    
    .offset-lg-9{
        margin-left: calc(100% / 12 * 9);
    }
    
    .offset-lg-10{
        margin-left: calc(100% / 12 * 10);
    }
    
    .offset-lg-11{
        margin-left: calc(100% / 12 * 11);
    }
}


/* GUTTER */
.row.g-1{
    margin-left: -10px;
    margin-right: -10px;
}
.row.g-1 > [class^='col']{
    padding-left: 10px;
    padding-right: 10px;
}


.row.g-2{
    margin-left: -20px;
    margin-right: -20px;
}
.row.g-2 > [class^='col']{
    padding-left: 20px;
    padding-right: 20px;
}

.row.g-3{
    margin-left: -30px;
    margin-right: -30px;
}
.row.g-3 > [class^='col']{
    padding-left: 30px;
    padding-right: 30px;
}

.row.g-4{
    margin-left: -40px;
    margin-right: -40px;
}
.row.g-4 > [class^='col']{
    padding-left: 40px;
    padding-right: 40px;
}

.row.g-5{
    margin-left: -50px;
    margin-right: -50px;
}
.row.g-5 > [class^='col']{
    padding-left: 50px;
    padding-right: 50px;
}