/* 
       -Bottone header
        -scritte e footer icon effeto neo
    -icona play sopra le immagini
        -nome brano sottolineato
    -bare yts
*/


#btn-header:hover{
    font-size: 20px;
}

/* nav menu */
.inside-menu a:hover{
    color: white;
}

/* sidebar */
.sidebar span:hover{
    color: white;
}

.sidebar li:hover{
    color: white;
}

/* footer */
.author span:hover{
    text-decoration: underline;
}

.icons i:hover{
    color: white;
}

#circle:hover {
    font-size: 40px;
}

/* immagini */
.pic-container:hover .fa-play-circle{
    opacity: 1;
    transform: translate(-50%, 50%);
}

/* progressbar */
.progress-bar:hover .value{
    background-color: #0f0;
}

.progress-bar:hover .cursor{
    display: inline;
}


.progress-bar-volume:hover .value{
    background-color: #0f0;
}

.progress-bar-volume:hover .cursor{
    display: inline;
}