/*  BREAKOUT
        mobile-fast 576px
        768px -> si ingrandisce la sidebar
        992px
*/



@media screen and (min-width: 768px){
    /* SIDEBAR */
    .sidebar{
        width: 300px;
    }
    /* HEADER    */
    header{
        width: calc(100% - 300px);
    }
    /* logo (va via l'icona e arriva il logo) */
    #logo{
        display: none;
    }
    #logo-responsive{
        display: inline-block;
    }
    /* icone (compare la scritta)*/
    .sidebar-span{
        display: inline-block;
    }
    /* playlist */
    .playlist{
        display: flex;
    }

}