/*-----------------UTILITIES-----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/*-----------------2 COLONNE-----------------*/
.colums{
    display: flex;
    flex-direction: column;
}

/*-------main menu/*-------*/
.main-menu{
    height: calc(100vh - 100px);
    display: flex;
}

/* ---sidebar--- */
.sidebar{
    width: 50px;
    background-color: black;  
    padding: 5px 10px;
    position: relative;
}

img{
    margin-bottom: 5px;
}

.bottom{
    padding: 5px 10px;  
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* ---menu--- */
.menu{
    flex-grow: 1;
    background-color: rgb(21,21,21);
    overflow: auto;
}

/* header */
header{
    height: 100px;
    background-color: rgb(71, 70, 70);
    opacity: 0.9;
    text-align: right;
    line-height: 100px;

    position: fixed;
    width: calc(100vw - 50px);
    z-index: 1;
    color: white;
}

#btn-header{
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid white;
    background-color: rgb(21,21,21);
    color: white;
    border-radius: 30px;
    padding: 15px 35px;
    margin-right: 10px;
    cursor: pointer;
}

/* main */
main{
    flex-grow: 1;
    background-color: rgb(30, 30, 30);
    position: relative;
    top: 100px;
}



/*---------footer---------*/
footer{
    height: 100px;
    background-color: rgb(42, 42, 44);
}

/*-----all menu-----*/
.play-menu{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px 10px;
    
}

/* -------SONG left-part */

/* album */
.song{
    display: flex;
    flex-grow: 1;
    /* border: 1px solid red; */
}

/* album */
.album{
    background-image: url(../img/mixdaily.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}


/* author */
.author{
    flex-direction: column;
}

.author h4{
    font-weight: bold;
}

.author span{
    display: inline-block;
    color: rgb(151, 147, 147);
}

/* icons */
.icons{
    flex-direction: column;
    justify-content: center;
}

.icons i{
    margin-bottom: 5px;
}

/* ------- PLAY center-part*/
.play{
    width: 50%;
}
.play{
    flex-direction: column;
    display: flex;
    align-items: center;
}

/* UP */
.tasks{ 
    display: flex;   
    margin-bottom: 20px;
}

.tasks i{
    margin-right: 20px;
}

.song-sidebar{
    display: flex;
    justify-content: space-between;
}

.song-sidebar hr{
    display: flex;
    flex-direction: row;
}

/* DOWN */

/* --------VOLUME right-part */
.volume{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.volume i{
    margin-right: 10px;
}

.volume hr{
    width: 100%;
}