/*-----------------UTILITIES-----------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/*-----------------2 COLONNE-----------------*/
.colums{
    display: flex;
    flex-direction: column;
}

/*-------main menu/*-------*/
.main-menu{
    height: calc(100vh - 100px);
    display: flex;
    
}

/* ---sidebar--- 2.0*/ 
.sidebar{
    width: 50px;
    background-color: black; 
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
    overflow: auto;
    flex-shrink: 0;
    align-items: center;
}

.sidebar-icon{
    width: 30px;
    height: 30px;
}

#logo{
    background-image: url(../img/logo-small.svg);
    background-repeat: no-repeat;
    background-size: contain; 
    margin-bottom: 20px;
}

#home{
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-size: contain;  
    
}
#search{
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: contain;  
    
}
#libreria{
    background-image: url(../img/libreria.svg);
    background-repeat: no-repeat;
    background-size: contain;  
    
}

#sidebar-hr{
    display: none;
}

#download{
    background-image: url(../img/download.svg);
    background-repeat: no-repeat;
    background-size: contain;  
}

#profile{
    background-image: url(../img/profile.svg);
    background-repeat: no-repeat;
    background-size: contain; 
    justify-self: flex-end;    
}

/* responsive */
.bottom-sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar-span{
    display: none;
    color: gray;
    margin-left: 10px;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-responsive{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;  
    display: none;
    width: 200px;
    height: 80px;
    margin-bottom: 20px;
}

/* playlist */

.top-sidebar h2,h3{
    color: white;
    margin-top: 20px;
}

.top-sidebar h3{
    margin-left: 20px;
}

.sidebar-icon.plus{
    color: white;
    font-size: 60px;
    margin-right: 10px;
}

.playlist{
    display: none;
    flex-direction: column; 
}

.playlist-song ul{
    margin-top: 40px;
    height: 200px;
    overflow: auto;
}

.playlist-song li{
    color: gray;
    text-align: left;
    width: 100%;
    margin: 30px 0;
}

/* ---menu--- */
.menu{
    background-color: rgb(21,21,21);
    overflow: auto;
    flex-basis: 100%;
}

/* header */
header{
    height: 100px;
    background-color: rgb(71, 70, 70);
    opacity: 0.9;
    text-align: right;
    line-height: 100px;

    position: fixed;
    width: calc(100vw - 50px);
    z-index: 1;
    color: white;
}

#btn-header{
    text-transform: uppercase;
    font-size: 18px;
    border: 1px solid white;
    background-color: rgb(21,21,21);
    color: white;
    border-radius: 30px;
    padding: 15px 35px;
    margin-right: 10px;
    cursor: pointer;
}

/* main */
.inside-menu{
    position: relative;
    top: 100px;
    padding: 20px;
    height: 100vh;    
}

ul{
    text-align: center;
}

ul li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

li a{
    text-decoration: none;
    color: gray;
    font-size: 14px;   
}

 h2{
    color: white;
}

/* card */
img{
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 -15px;
}

.card{
    flex-basis: 50%;
    padding: 15px;
}

.card-title{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.card-desc{
    color: gray;
    font-size: 16px;
    margin-top: 10px;
}

#young{
    background-image: url(../img/youg.jpeg);
}

#einaudi{
    background-image: url(../img/einaudi.jpeg);
}

.border-img{
    border-radius: 50%;
}

/*---------footer---------*/
footer{
    height: 100px;
    background-color: rgb(42, 42, 44);
}

/*-----all menu-----*/
.play-menu{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px 10px;  
}

/* -------SONG left-part */

/* album */
.song{
    display: flex;
    margin-right: 20px;
}

/* album */
.album{
    background-image: url(../img/mixdaily.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.song.album{
    width: 60px;
    height: 60px;
}

/* author */
.author{
    flex-direction: column;   
}

.author h4{
    font-weight: bold;
}

.author span{
    font-size: 12px;
    color: gray;
}

/* icons */
.icons{
    flex-direction: column;
    justify-content: center;
}

.icons i{
    margin-bottom: 5px;
}

/* ------- PLAY center-part*/
.play{
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 1;
}

/* UP */
.tasks{ 
    margin-bottom: 20px;
}

.tasks i{
    margin-right: 20px;
}

.song-sidebar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.linea{
    flex-grow: 1;
    padding: 0 5px;
    align-items: center;
    display: flex;
    align-items: center;
}

.linea hr{
    width: 100%;
}

/* DOWN */

/* --------VOLUME right-part */
.volume{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}

.volume i{
    margin-right: 10px;
}

.volume hr{
    width: 80px;
    /* flex-grow: 1; */
}